@import 'variable';
@import 'mixin';

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 1rem;
    font-weight: 400;
}

h2 {
    font-size: 2.8125rem;
    font-weight: 700;
    color: $primary-color;

}

.btn {
    background: $secondary-color;
    outline: none;
    border: none;
    color: #000;
    box-shadow: none;
}

.btn-primary {
    padding: 1.25rem 10.625rem;
    font-size: 1.125rem;
    font-weight: 600;
    box-shadow: none;
    outline: none;
    border: none;

    &:hover {
        background-color: $secondary-color;
        color: $primary-color ;
        opacity: 0.8;
        transition: 0.3s all;
        border: none;
        outline: none;
    }

    &:active,
    &:focus {
        color: $primary-color  !important;
    }
}

section {
    margin: 5rem 0 5rem;
}

.responsive-btn {
    display: none;
}

.home {
    .banner {
        @include flex(flex, column);
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        padding-bottom: 58px;
        padding-top: 98px;

        .banner-image,
        .btn-primary-sm {
            display: none;
        }

        h1 {
            margin-top: 0;
            color: #fff;
            font-size: 3.4375rem;
            margin-bottom: 15px;
            font-weight: 700;
        }

        h3 {
            margin-bottom: 5.25rem;
            margin-top: 0;
            color: $secondary-color;
            font-size: 1.5rem;
            font-weight: 400;

        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 1.375rem;
                }

                svg {
                    fill: #808a9a;

                    &:hover {
                        transform: scale(1.2);
                        fill: #fff;
                        transition: 0.4s all;
                    }
                }
            }
        }
    }

    .overview-wrapper {
        background-color: #f7f8f9;
        height: 25rem;

        .contact {
            @include flex(flex, column);
            position: relative;
            z-index: 1;
            top: -20%;
            transform: translateY(-25%);
            width: 400px;

            .image {
                margin-bottom: 20px;
                height: 100%;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            #contact {

                &:active,
                &:focus {
                    outline: none;
                    box-shadow: none;
                    border: none;
                    background-color: $secondary-color;
                }
            }


        }

        .overview {
            margin-top: 4.375rem;

            h2 {
                margin: 0;
                margin-bottom: 1.25rem;
            }

            .details {
                p {
                    color: $primary-color;
                }

                p:not(:first-child) {
                    margin-top: 1.875rem;
                }
            }
        }
    }

    .blog {
        h2 {
            margin-bottom: 2.5rem;
        }

        .card {
            border: none;
            margin-bottom: 4.375rem;

            .card-image {
                height: 16rem;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .card-body {
                margin-top: 1.25rem;
                margin-bottom: 15px;
                padding: 0;

                span {
                    font-size: 15px;
                    color: $text-secondary;
                }

                h5 {
                    font-size: 1.5625rem;
                    font-weight: 600;
                    margin: 15px 0 40px;
                    color: $primary-color;
                }

                .read-more {
                    text-decoration: none;
                    font-size: 1.0625rem;
                    font-weight: 600;
                    color: $secondary-color;
                    position: relative;

                    &::before {
                        content: "";
                        position: absolute;
                        background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23E0AF2F' d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/%3E%3C/svg%3E");
                        background-repeat: no-repeat;
                        width: 20px;
                        height: 20px;
                        right: -30px;
                        top: 1px;
                        transition: .4s all;
                    }

                    &:hover {
                        &::before {
                            transform: translateX(10px);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}

@media screen and (max-width: 575px) {
    section {
        margin: 3.75rem auto;
    }

    .responsive-btn {
        display: block;
        padding: 0.75rem 7.5rem;
    }

    .home {
        .btn {
            font-weight: 600;
        }

        .banner {
            text-align: center;
            padding: 1.875rem 2.1875rem 3.75rem;

            .banner-image {
                display: block;
                margin-bottom: 1.25rem;
                height: 300px;
                width: 300px;
                border-radius: 6px;
                margin-left: auto;
                margin-right: auto;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            h1 {
                font-size: 1.5625rem;
            }

            h3 {
                font-size: 1rem;
                font-weight: 700;
                margin-bottom: 1.25rem;
            }

            ul {
                justify-content: center;

                li:not(:last-child) {
                    margin-right: 1.875rem;
                }
            }

            .btn-primary-sm {
                display: block;
                padding: 14px 8.375rem;
                font-size: 16px;
                margin: 3.125rem auto 0;
            }

        }

        .overview-wrapper {
            padding: 0 12px;
            margin-top: 60px;
            height: 18.75rem;

            .contact {
                display: none;
            }

            .overview {
                margin-top: 0;

                h2 {
                    font-size: 1.5625rem;
                }
            }
        }

        .blog {
            h2 {
                font-size: 1.5625rem;
                margin-bottom: 1.875rem;
            }

            .card {
                margin-bottom: 15px;

                .card-body {
                    h5 {
                        font-size: 1.125rem;
                        margin: 10px auto 20px;
                    }

                    .read-more {
                        font-size: 15px;
                    }
                }
            }

            a {
                text-decoration: none;
                color: #000;
                font-size: 1.0625rem;
                font-weight: 600;
            }
        }
    }
}

@media screen and (max-width: 400px) {

    .home {

        .banner {
            .btn-primary-sm {
                margin: 1.875rem auto;
            }

        }

        .overview-wrapper {
            margin-top: 10px;
            height: 20.625rem;

        }

        .blog {

            h2 {
                font-size: 1.5625rem;
                margin-bottom: 1.875rem;
            }
        }
    }
}
