@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 16px;
  font-weight: 400;
}

h2 {
  font-size: 45px;
  font-weight: 700;
}

section {
  margin: 80px 0 80px;
}

.home .banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #001534;
  padding-bottom: 58px;
  padding-top: 98px;
}
.home .banner .banner-image,
.home .banner .btn-primary-sm {
  display: none;
}
.home .banner h1 {
  margin-top: 0;
  color: #fff;
  font-size: 3.4375rem;
  margin-bottom: 15px;
  font-weight: 700;
}
.home .banner h3 {
  margin-bottom: 5.25rem;
  margin-top: 0;
  color: #E0AF2F;
  font-size: 1.5rem;
  font-weight: 400;
}
.home .banner ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.home .banner ul li {
  cursor: pointer;
}
.home .banner ul li:not(:last-child) {
  margin-right: 22px;
}
.home .banner ul li svg {
  fill: #808a9a;
}
.home .banner ul li svg:hover {
  transform: scale(1.2);
  fill: #fff;
}
.home .overview-wrapper {
  background-color: #f7f8f9;
  padding: 73px 157px;
  height: 400px;
}
.home .overview-wrapper .contact {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  top: -50%;
  transform: translateY(-25%);
  width: 400px;
  height: 510px;
}
.home .overview-wrapper .contact .image {
  margin-bottom: 20px;
}
.home .overview-wrapper .contact .image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .overview-wrapper .contact .btn-primary {
  background-color: #E0AF2F;
  outline: none;
  border: none;
  padding: 20px 170px;
  font-size: 18px;
  font-weight: 600;
  color: #000;
}
.home .overview-wrapper .overview {
  text-align: center;
}
.home .overview-wrapper .overview h2 {
  margin: 0;
  text-align: left;
  margin-bottom: 20px;
}
.home .overview-wrapper .overview .details p {
  text-align: left;
}
.home .overview-wrapper .overview .details p:not(:first-child) {
  margin-top: 30px;
}
.home .blog h2 {
  margin-bottom: 40px;
}
.home .blog .column .card {
  border: none;
  margin-bottom: 70px;
}
.home .blog .column .card .card-image {
  height: 256px;
}
.home .blog .column .card .card-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.home .blog .column .card .card-body {
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0;
}
.home .blog .column .card .card-body span {
  font-size: 15px;
  color: #afb6bf;
}
.home .blog .column .card .card-body h5 {
  font-size: 25px;
  font-weight: 600;
  margin: 15px 0 40px;
}
.home .blog .column .card .card-body .read-more {
  text-decoration: none;
  font-size: 17px;
  font-weight: 600;
  color: #E0AF2F;
  position: relative;
}
.home .blog .column .card .card-body .read-more::before {
  content: "";
  position: absolute;
  background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23E0AF2F' d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  right: -40px;
  top: 1px;
  transition: 0.4s all;
}
.home .blog .column .card .card-body .read-more:hover::before {
  transform: translateX(10px);
}
.home .blog .load {
  display: none;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1400px !important;
  }
}
@media screen and (max-width: 575px) {
  section {
    margin: 60px auto;
  }
  .home .btn-primary-sm {
    display: block;
    padding: 14px 134px;
    background: #E0AF2F;
    outline: none;
    border: none;
    color: #000;
    font-size: 11px;
    font-weight: 600;
    margin: 50px auto;
  }
  .home .banner {
    text-align: center;
    padding: 30px 35px 60px;
  }
  .home .banner .banner-image {
    display: block;
    margin-bottom: 20px;
  }
  .home .banner h1 {
    font-size: 25px;
  }
  .home .banner h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .home .banner ul {
    justify-content: center;
  }
  .home .banner ul li:not(:last-child) {
    margin-right: 30px;
  }
  .home .overview-wrapper {
    padding: 0 12px;
    margin-top: 60px;
    height: 300px;
  }
  .home .overview-wrapper .contact {
    display: none;
  }
  .home .overview-wrapper .overview h2 {
    font-size: 25px;
  }
  .home .blog h2 {
    font-size: 25px;
    margin-bottom: 30px;
  }
  .home .blog .column .card .card-body h5 {
    font-size: 18px;
    margin: 10px auto 20px;
  }
  .home .blog .column .card .card-body .read-more {
    font-size: 15px;
  }
  .home .blog .load {
    display: block;
  }
  .home .blog .load a {
    text-decoration: none;
    color: #000;
    font-size: 17px;
    font-weight: 600;
  }
}/*# sourceMappingURL=styles.css.map */