@import 'variable';

body {
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    font-size: 16px;
    font-weight: 400;
}

h2 {
    font-size: 45px;
    font-weight: 700;
}

section {
    margin: 80px 0 80px;
}

.home {
    .banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        padding-bottom: 58px;
        padding-top: 98px;

        .banner-image,
        .btn-primary-sm {
            display: none;
        }

        h1 {
            margin-top: 0;
            color: #fff;
            font-size: 3.4375rem;
            margin-bottom: 15px;
            font-weight: 700;
        }

        h3 {
            margin-bottom: 5.25rem;
            margin-top: 0;
            color: $secondary-color;
            font-size: 1.5rem;
            font-weight: 400;

        }

        ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                cursor: pointer;

                &:not(:last-child) {
                    margin-right: 22px;
                }

                svg {
                    fill: #808a9a;

                    &:hover {
                        transform: scale(1.2);
                        fill: #fff;
                    }
                }
            }
        }
    }

    .overview-wrapper {
        background-color: #f7f8f9;
        padding: 73px 157px;
        height: 400px;

        .contact {
            display: flex;
            flex-direction: column;
            position: relative;
            z-index: 1;
            top: -50%;
            transform: translateY(-25%);
            width: 400px;
            height: 510px;

            .image {
                margin-bottom: 20px;

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 5px;
                    object-fit: cover;
                }
            }

            .btn-primary {
                background-color: $secondary-color;
                outline: none;
                border: none;
                padding: 20px 170px;
                font-size: 18px;
                font-weight: 600;
                color: #000;
            }
        }

        .overview {
            text-align: center;

            h2 {
                margin: 0;
                text-align: left;
                margin-bottom: 20px;
            }

            .details {
                p {
                    text-align: left;
                }

                p:not(:first-child) {
                    margin-top: 30px;
                }
            }
        }
    }

    .blog {
        h2 {
            margin-bottom: 40px;
        }

        .column {
            .card {
                border: none;
                margin-bottom: 70px;

                .card-image {
                    height: 256px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }

                .card-body {
                    margin-top: 20px;
                    margin-bottom: 15px;
                    padding: 0;

                    span {
                        font-size: 15px;
                        color: #afb6bf;
                    }

                    h5 {
                        font-size: 25px;
                        font-weight: 600;
                        margin: 15px 0 40px;
                    }

                    .read-more {
                        text-decoration: none;
                        font-size: 17px;
                        font-weight: 600;
                        color: $secondary-color;
                        position: relative;

                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23E0AF2F' d='M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z'/%3E%3C/svg%3E");
                            background-repeat: no-repeat;
                            width: 20px;
                            height: 20px;
                            right: -40px;
                            top: 1px;
                            transition: .4s all;
                        }

                        &:hover {
                            &::before {
                                transform: translateX(10px);
                            }
                        }
                    }
                }
            }
        }

        .load {
            display: none;
        }
    }
}

@media screen and (min-width: 1400px) {
    .container {
        max-width: 1400px !important;
    }
}

@media screen and (max-width: 575px) {
    section {
        margin: 60px auto;
    }

    .home {
        .btn {
            background: $secondary-color;
            outline: none;
            border: none;
            color: #000;
            font-weight: 600;
        }

        .banner {
            text-align: center;
            padding: 30px 35px 60px;

            .banner-image {
                display: block;
                margin-bottom: 20px;
            }

            h1 {
                font-size: 25px;
            }

            h3 {
                font-size: 16px;
                font-weight: 700;
                margin-bottom: 20px;
            }

            ul {
                justify-content: center;

                li:not(:last-child) {
                    margin-right: 30px;
                }
            }

            .btn-primary-sm {
                display: block;
                padding: 14px 134px;
                font-size: 16px;
                margin: 50px auto;
            }

        }

        .overview-wrapper {
            padding: 0 12px;
            margin-top: 60px;
            height: 300px;

            .contact {
                display: none;
            }

            .overview h2 {
                font-size: 25px;
            }
        }

        .blog {
            h2 {
                font-size: 25px;
                margin-bottom: 30px;
            }

            .column {
                .card {
                    .card-body {
                        h5 {
                            font-size: 18px;
                            margin: 10px auto 20px;
                        }

                        .read-more {
                            font-size: 15px;
                        }
                    }
                }
            }

            .load {
                display: block;

                a {
                    text-decoration: none;
                    color: #000;
                    font-size: 17px;
                    font-weight: 600;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {

    .home {

        .banner {
            .btn-primary-sm {
                margin: 30px auto;
            }

        }

        .overview-wrapper {
            margin-top: 10px;
            height: 330px;

        }

        .blog {

            h2 {
                font-size: 25px;
                margin-bottom: 30px;
            }
        }
    }
}