@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

$primary-font: 'Poppins', sans-serif;
$primary-color: #001534;
$secondary-color: #E0AF2F;
$text-secondary: #afb6bf;
